.NewCard, td {
    border: solid 1px black;
    box-sizing: border-box;
    border-collapse: collapse;
    height: 30px;
}

.NewText {
    font-style: italic;
box-sizing: border-box;
height: 130px;
width: 308px;
}

.Valid {
    display: block;
    color: red;
}

.ValText {
    border: solid 1px white;
}