.NewCard, td {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    border-collapse: collapse;
    height: 30px;
}

.NewName {
    font-style: italic;
box-sizing: border-box;
height: 30px;
width: 308px;
}

.NewText {
    font-style: italic;
box-sizing: border-box;
height: 130px;
width: 308px;

}

.Valid {
    display: block;
    color: red;
}

.ValText {
    border: solid 1px rgba(125, 248, 177, 0.1);
}

@media (max-width: 767px) {
    .NewName, .NewText {
     
    width: 200px;
    }
}