.Deleted * {
    
    transition-duration: 1s;
    -webkit-transition-timing-function: linear; 
    transition-timing-function: linear;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    font-size: 0;
    padding: 0;
    border: none;
    border-collapse: none;
    box-sizing:none;
    
}

.Deleted td {
    font-size: 0 !important;
}

.Deleted img {
    height: 0;
}

.Deleted {
    opacity: 0;
    border: none;
   border-collapse: none;
   padding: 0;
   box-sizing:none;
}

.InputEdit, .Delete {
  width: 60px;
}


.Delete {
    padding-left: 3px;
}

.SaveEdit, .CancelEdit {
    width: 70px;
}

.View {
    width: 210px;
    height: 150px
}

.View:hover {
    cursor: pointer;
}
  
.Edit {
    font-style: italic;
    box-sizing: border-box;
    height: 230px;
    width: 208px;
   }
   
   .Description {
       width: 650px;
   }
   
   .Valid {
       display: block;
       color: red;
   }
 
@media (max-width: 992px) {

   .InputEdit, .Delete {
     width: 135px;
     display: block;
    }

    .Edit, .Description {
       font-size: 18px;
    }
       
    .Description {
        width: 450px;
    }
       
    .SaveEdit, .CancelEdit {
        width: 150px;
        display: block;
    }
       
}