body {
    background: rgba(125, 248, 177, 0.1) ;
   background-position: right top;
   background-size: 45%;
   background-repeat: no-repeat;
   
}  


.Search {
    font-size: 23px;
}

.Table {
    margin-top: 15px;
  
}



.Table td {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    border-collapse: collapse;
    font-size: 23px;
}

input, textarea  {
    font-size: 18px;
}

.title td{
    font-weight: 700;
    border-bottom:2px solid black
}

.NumberPage {
    font-size: 18px;
}

.NewProduct {
    margin-top: 10px;
    font-size: 18px;
}

.List {
    display: flex;
    list-style-type: none;
}

.List li a {
  margin-right: 10px;
  color: blue;
  cursor: pointer;
  
}

.List li a:hover {
    color: red;
}

select, select option {
    font-size: 18px;
}


@media (max-width: 992px) {
    body {
        background-size: 0%;  
         
    } 

    .Search {
        font-size: 50px;
    }

    .title td {
        font-size: 35px;
    }

    input, textarea  {
        font-size: 45px;
    }
 
    select, select option {
        font-size: 45px;
    }

    .NewProduct {
        font-size: 45px;
    }

    .NumberPage {
        font-size: 45px;
    }
}