body {
    background: rgba(125, 248, 177, 0.1) ;
   background-position: right top;
   background-size: 45%;
   background-repeat: no-repeat;
   
}  

@media (max-width: 767px) {
    body {
        background-size: 0%;    
    } 

    
}

.Table {
    margin-top: 15px;
  
}



.Table td {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    border-collapse: collapse;
    height: 30px;
   
}


.title td{
    font-weight: 700;
    border-bottom:2px solid black
}
.Edit {
font-style: italic;
box-sizing: border-box;
height: 230px;
width: 208px;
}

.Description {
    width: 460px;
}

.Valid {
    display: block;
    color: red;
}


.NewProduct {
    margin-top: 10px;
}

.List {
    display: flex;
list-style-type: none;
}

.List li {
    margin-right: 10px;
  color: blue;
  cursor: pointer;
  
}

.List li:hover {
    color: red;
}