.Main {
    font-size: 25px;
}

.Nav {
  margin:15px;
  display:inline-block;
  font-size: 25px;
}

.Component p {
  font-size: 23px;
}

@media (max-width: 992px) {
 .Nav {
   font-size: 50px;
 }
 .Component p {
  font-size: 45px;
}

}.Deleted * {
    
    transition-duration: 1s;
    -webkit-transition-timing-function: linear; 
    transition-timing-function: linear;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    font-size: 0;
    padding: 0;
    border: none;
    border-collapse: none;
    box-sizing:none;
    
}

.Deleted img {
    height: 0;
}

.Deleted {
    opacity: 0;
    border: none;
   border-collapse: none;
   padding: 0;
   box-sizing:none;
}

.InputEdit, .Delete {
  width: 60px;
}


.Delete {
    padding-left: 3px;
}

.SaveEdit, .CancelEdit {
    width: 70px;
}

.View {
    width: 210px;
    height: 150px
}

.View:hover {
    cursor: pointer;
}
  
.Edit {
    font-style: italic;
    box-sizing: border-box;
    height: 230px;
    width: 208px;
   }
   
   .Description {
       width: 460px;
   }
   
   .Valid {
       display: block;
       color: red;
   }
 
@media (max-width: 992px) {

   .InputEdit, .Delete {
     width: 135px;
     display: block;
    }

    .Edit, .Description {
       font-size: 18px;
    }
       
    .Description {
        width: 450px;
    }
       
    .SaveEdit, .CancelEdit {
        width: 150px;
        display: block;
    }
       
}.AddCard {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form {
  font-size: 18px;
    width: 700px;
    height: fit-content;
    background-color: white;
    border-radius: 4px;
    position: relative;
    text-align: center;
    padding: 10px;
}

.NewCard td {
  height: 30px;
}

.NewName {
 font-style: italic;
 height: 30px;
 width: 308px;
}

.NewUrl {
 font-style: italic;
 height: 100px;
 width: 308px;
}

.NewText {
 font-style: italic;
 height: 300px;
 width: 308px;

}

.Valid {
  display: block;
  color: red;
}

.SaveAdd, .CancelAdd {
  margin-top: 10px;
  margin-bottom: 10px; 
}

.CloseImg {
    cursor: pointer;
    width: 50px;
    margin-left: 605px;
    font-size: 18px;
}

.Img {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Img img {
    position: relative;
    text-align: center;
    width: 650px;
    height:550px;
}body {
    background: rgba(125, 248, 177, 0.1) ;
   background-position: right top;
   background-size: 45%;
   background-repeat: no-repeat;
   
}  


.Search {
    font-size: 23px;
}

.Table {
    margin-top: 15px;
  
}



.Table td {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    border-collapse: collapse;
    font-size: 23px;
}

input, textarea  {
    font-size: 18px;
}

.title td{
    font-weight: 700;
    border-bottom:2px solid black
}

.NumberPage {
    font-size: 18px;
}

.NewProduct {
    margin-top: 10px;
    font-size: 18px;
}

.List {
    display: flex;
    list-style-type: none;
}

.List li a {
  margin-right: 10px;
  color: blue;
  cursor: pointer;
  
}

.List li a:hover {
    color: red;
}

select, select option {
    font-size: 18px;
}


@media (max-width: 992px) {
    body {
        background-size: 0%;  
         
    } 

    .Search {
        font-size: 50px;
    }

    .title td {
        font-size: 35px;
    }

    input, textarea  {
        font-size: 45px;
    }
 
    select, select option {
        font-size: 45px;
    }

    .NewProduct {
        font-size: 45px;
    }

    .NumberPage {
        font-size: 45px;
    }
}.PageLink {
    color: black;
    margin-right: 10px;
    font-size: 25px;
}

.ActivePageLink {
    font-weight: bold;
}

@media (max-width: 992px) {
    .PageLink {
    font-size: 50px;
    }
}
/*# sourceMappingURL=bundle.css.map*/